extends templates/main 

block variables 
    - var currentPageLink = 'anime.html'
    - var title = 'Моя работа'
    - var descr = 'Читай'

block content 
 a(href="work/animation/dist/index.html") see