extends templates/main 

block variables 
    - var currentPageLink = 'anime.html'
    - var title = 'Моя работа'
    - var descr = 'Читай'

block content 
  hr
  .block
      .block__descr
        p.block__descr-text Качественная и уместная анимация веб-страниц радует глаз и помогает в работе. Это – одна из основ веб-дизайна наших дней. Взаимодействие пользователей с современными веб-сайтами серьёзно завязано именно на анимации. Она способна сообщать о неких состояниях страницы, направлять внимание. Анимация помогает пользователю увидеть результат его действий и может влиять на его поведение.
        h3.h3 Программа изучения во время проекта  :
        ul 
         li  Научиться работать с анимациями в CSS
         li  Реализовать адаптивные анимации,
         li  Анимации появления WOW.js
         li  Изучение Parallax эффектов
        
      .block__item  
        img.block__item-img(src="img/anime2.png", alt="")

        a.link(href="work/animation/dist/index.html") Просмотреть