extends templates/main 

block variables 
    - var currentPageLink = 'blog.html'
    - var title = 'Моя работа'
    - var descr = 'Читай'

block content 
 a(href="work/gulpwork/build/index.html") see
 

 
 
 