extends templates/main 

block variables 
    - var currentPageLink = 'index.html'
    - var title = 'Главная'
    - var descr = 'Главная'

block content 
  .container 
    

 
  include blocks/footer