extends templates/main 

block variables 
    - var currentPageLink = 'mas.html'
    - var title = 'Моя работа'
    - var descr = 'Читай'

block content 
  hr
  .block
      .block__descr
          p.block__descr-text Gulp - это просто программа, которая написана на языке программирования Javascript. Для того, чтобы начать его пользоваться, желательно знать, хотя бы основы языка Javascript. Если вы это знаете, то пользоваться программой Gulp для вас будет намного проще. 
          h3.h3 Программа изучения во время проекта :
          ul 
              li  Изучаем построение шаблонов многостраничных сайтов 
              li  Верстка с Gulp
              li  Мобильное меню, Псевдокласс :target
              li  Медиазапросы
              li  Правильная структура файлов
              li  Псевдоэлементы
      .block__item  
          img.block__item-img(src="img/mas2.png" alt="")
          a.link(href="work/math_game_v2/index.html") Просмотреть