extends templates/main 

block variables 
    - var currentPageLink = 'mas.html'
    - var title = 'Моя работа'
    - var descr = 'Читай'

block content 
  hr
  .block
      .block__descr
          p.block__descr-text Математический тренажор.
          h3.h3 Программа изучения во время проекта :
          ul 
              li  Библиотека jquery  
              li  Стрелочные функции. Функции массива.
              li  Алгоритм
      .block__item  
          img.block__item-img(src="img/mas2.png" alt="")
          a.link(href="work/math_game_v2/index.html") Просмотреть