extends templates/main 

block variables 
    - var currentPageLink = 'pomodor.html'
    - var title = 'Моя работа'
    - var descr = 'Читай'

block content 
  a(href="work/pomodoro_timer/build/index.html") see