extends templates/main 

block variables 
    - var currentPageLink = 'trafal.html'
    - var title = 'Моя работа'
    - var descr = 'Читай'

block content
  hr
  .block
      .block__descr
        p.block__descr-text Адаптивная вёрстка меняет дизайн страницы в зависимости от поведения пользователя, платформы, размера экрана и ориентации девайса и является неотъемлемой частью современной веб-разработки. Она позволяет существенно экономить и не отрисовывать новый дизайн для каждого разрешения, а менять размеры и расположение отдельных элементов.
        h3.h3 Программа изучения во время проекта :
        ul 
         li  jQuery библиотеки, Slick Slider
         li  Сложный адаптив
         li  Мобильное меню, Псевдокласс :target
         li  Медиазапросы
         li  Правильная структура файлов
         li  Псевдоэлементы
      .block__item  
        img.block__item-img(src="img/traffal2.png", alt="")

        a.link(href="work/trafalgar/index.html") Просмотреть