extends templates/main 

block variables 
    - var currentPageLink = 'x-0.html'
    - var title = 'Моя работа'
    - var descr = 'Читай'

block content 
  hr
  .block
      .block__descr
          p.block__descr-text Создаем игру, где два игрока (человека) играют друг против друга.
          h3.h3 Программа изучения во время проекта :
          ul 
              li  Создайте объект доски 3х3 в JS, которая содержит текущее значение в каждой клетке ("X", "O" или " "). 
              li  Реализовывать игру в js
      .block__item  
          img.block__item-img(src="img/square2.png" alt="")
          a.link(href="work/x_o/index.html") Просмотреть