.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    &__block {
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;

    }

    &-img {
        width: 250px;
        height: 350px;
        padding: 5px;
        object-fit: contain;
        
        

        &:hover {
            background: yellow;
        }
      
    }

   
    .h1 {
        text-align: center;
    }
    
}